dialog {
  margin: auto;
  border: none;
  padding: 0;
  background-color: var(--light-blue);
  border-radius: 32px;
  max-width: 1440px;
  width: 95dvw;

  &::backdrop {
    background: rgb(0 0 0 / 70%);
  }

  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background-color: rgb(0 0 0 / 8%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgb(0 0 0 / 12%);
    }

    &:focus-visible {
      outline: none;
    }

    &:active {
      border: none;
      color: var(--white);
      background-color: rgb(0 0 0 / 40%);
    }
  }
}

.purchase {
  position: relative;
  padding: 72px 16px;
  display: flex;
  justify-content: center;

  &__dialog {
    width: 100%;
    display: grid;
    grid-gap: 32px;
  }

  &__content,
  &__preamble {
    display: grid;
    background-color: var(--white);
    border-radius: 16px;
  }

  &__preamble {
    grid-gap: 28px;
    padding: 36px;

    &>p {
      @include font-params(22px, 300, 28px);
    }
  }

  &__content {
    grid-gap: 40px;
    padding: 64px 106px;

    &>h3 {
      @include font-params(28px, 500, 32px);
    }

    &>form {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 20px;
      align-items: flex-end;

      .hint {
        @include font-params(18px, 400, 26px);
        opacity: 0.64;
      }

      &>label {
        width: calc(50% - 10px);
        @include font-params(18px, 500, 26px);

        &>input {
          @include font-params(18px, 400, 26px);
          background: var(--light-blue);
          height: 58px;
          width: 100%;
          padding: 16px;
          border-radius: 8px;
          border: none;

          &:focus {
            outline: 2px solid var(--blue);
          }
        }
      }

      &>button {
        @include font-params(20px, 400, 24px);
        width: calc(50% - 10px);
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        border-radius: 8px;
        border: none;
        @include blue-btn();
      }

      @media only screen and (max-width: 600px) {
        gap: 16px;

        &>label,
        &>button {
          width: 100%;
        }

        &>button {
          margin-top: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding-bottom: 16px;

    &__dialog {
      grid-gap:20px;
    }
    &__content,
    &__preamble {
      padding: 16px;
    }
  }
}