.subscribe {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  margin-top: 72px;
  
  &__content,
  &__preamble {
    display: grid;
    background-color: var(--white);
    border-radius: 16px;
  }

  &__preamble {
    grid-gap: 28px;
    padding: 36px;

    &>p {
      @include font-params(22px, 300, 28px);

      &>a {
        text-decoration: none;
        color: currentColor;

        &:hover {
          text-decoration: underline 2px solid var(--blue);
        }
      }
    }
  }

  &__content {
    grid-gap: 40px;
    padding: 64px 106px;

    &>h3 {
      @include font-params(28px, 500, 32px);
    }

    &>form {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 20px;
      align-items: flex-end;

      &>label {
        width: calc(50% - 10px);
        @include font-params(18px, 500, 26px);

        &>input {
          @include font-params(18px, 400, 26px);
          background: var(--light-blue);
          height: 58px;
          width: 100%;
          padding: 16px;
          border-radius: 8px;
          border: none;

          &:focus {
            outline: 2px solid var(--blue);
          }
        }
        
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }

      &>button {
        @include font-params(20px, 400, 24px);
        width: calc(50% - 10px);
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        border-radius: 8px;
        background-color: var(--blue);
        border: none;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    &__content,
    &__preamble {
      padding: 16px;
    }
  }
}
