@import '../../style/mixin.scss';

.header {
  margin: 64px 94px 65px 94px;
  display: flex;
  flex-direction: column;
  gap: 59px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    margin: 0;
  }

  &__rows {
    display: flex;
    flex-direction: row;
    gap: 37px;
    &:first-of-type {
      border-radius: 16px;
      background-color: var(--white);
      padding: 0 78px 91px 78px;
      @media only screen and (max-width: 600px) {
        padding: 0 16px 10px;
      }
    }
    &:last-of-type {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 41px;
      margin-top: 100px;
      @media only screen and (max-width: 600px) {
        margin-top: calc(640px / var(--image-ratio));
        justify-content: center;
        gap: 10px;
        margin-bottom: 32px;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__logo {
    @include font-params(24px, 300, 39.6px);
    text-align: left;
    padding-top: 68px;

    @media only screen and (max-width: 600px) {
      padding-top: 25px;
      width: min-content;
    }

    :first-child {
      color: var(--black);
      background: var(--blue);
      padding: 6px 0 6px 6px;
      border-radius: 6px 0 0 6px;
    }
    :last-child {
      color: var(--blue);
      background: var(--black);
      padding: 6px 6px 6px 0;
      border-radius: 0 6px 6px 0;
    }
  }

  &__caption {
    @include font-params(54px, 600, 65.35px);
    text-align: left;
    padding-top: 10px;

    @media only screen and (max-width: 600px) {
      padding-top: 16px;
      width: min-content;
      @include font-params(36px, 600, 40px);
    }
    @media only screen and (max-width: 375px) {
      @include font-params(28px, 500, 32px);
    }
  }

  &__text {
    @include font-params(18px, 400, 21.78px);
    display: inline-block;
    color: var(--dark-gray);
    text-align: left;
    max-width: 421px;
    word-wrap: break-word;
    padding-top: 24px;

    @media only screen and (max-width: 600px) {
      padding-top: 10px;
    }
  }

  &__tooltip {
    @include font-params(24px, 400, 29.05px);
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 50px;
    height: 77px;
    width: 570px;
    background-color: var(--white);
    margin-left: 78px;
    padding: 24px 34px 24px 34px;
    @media only screen and (max-width: 600px) {
      margin-left: 0;
      width: 75%;
      @include font-params(18px, 400, 29.05px);
    }
  }

  &__button {
    --button-size: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: calc(var(--button-size) / 2);
    @include blue-btn();
  }

  &__images {
    position: relative;
    --radius: 8px;
    width: auto;
    height: auto;
    img {
      box-sizing: content-box;
      border-radius: 24px;
      border: var(--radius) var(--white) solid;
      &:nth-of-type(1){
        @include image-placement(392px, 262px, 64px, 0px, var(--radius), 10);
      }
      &:nth-of-type(2){
        @include image-placement(202px, 302px, 174px, 300px, var(--radius), 20);
      }
      
      &:nth-of-type(3){
        @include image-placement(159px, 241px, 41px, 498px, var(--radius), 10);
      }
      
      &:nth-of-type(4){
        @include image-placement(292px, 187px, 362px, 33px, var(--radius), 30);
      }
      
      &:nth-of-type(5){
        @include image-placement(297px, 346px, 326px, 367px, var(--radius), 10);
      }
    }

    @media only screen and (max-width: 600px) {
      max-width: 576px;
      width: 100%;
      margin: auto;
    }
  }
}