* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
  background-color: var(--light-blue);
}

:root {
  --light-blue: #F1F1F1;
  --blue: #83DECC;
  --white: #FFFFFF;
  --light-gray: #F9F9F9;
  --gray: #F0F0F0;
  --medium-gray: #DDDDDD;
  --dark-gray: #545454;
}
