* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
  background-color: var(--light-blue);
  overflow-x: hidden;

  &.scroll-lock {
    overflow: hidden;
  }
}

:root {
  --light-blue: #F1F1F1;
  --lite-blue: #9EE9DA;
  --blue: #83DECC;
  --blueish: #75DAC7;
  --bright-blue: #4ACDB4;
  --white: #FFFFFF;
  --light-gray: #F9F9F9;
  --gray: #F0F0F0;
  --medium-gray: #DDDDDD;
  --dark-gray: #545454;
  --black-night: #101020;
  --black-gray: #3A3737;
  --black: #000000;
  --black-200: rgb(0 0 0 / 8%);
  --black-300: rgb(0 0 0 / 12%);
  --black-400: rgb(0 0 0 / 40%);
  --gray-bd: #BDBDBD;
  --image-ratio: 1;
}
