* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: var(--light-blue);
  overflow-x: hidden;

  &.scroll-lock {
    overflow: hidden;
  }
}

:root {
  --light-blue: #f1f1f1;
  --lite-blue: #9ee9da;
  --blue: #83decc;
  --blueish: #75dac7;
  --bright-blue: #4acdb4;
  --white: #ffffff;
  --light-gray: #f9f9f9;
  --gray: #f0f0f0;
  --medium-gray: #dddddd;
  --dark-gray: #545454;
  --black-night: #101020;
  --black-gray: #3a3737;
  --black: #000000;
  --black-200: rgb(0 0 0 / 8%);
  --black-300: rgb(0 0 0 / 12%);
  --black-400: rgb(0 0 0 / 40%);
  --gray-bd: #bdbdbd;
  --image-ratio: 1;
  --red: #db5959;
  --light-red: #f3b8b8;
}
