@mixin font-params($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin image-placement($width, $height, $top, $left, $border, $z) {
  position: absolute;
  max-width: calc($width + $border + $border);
  max-height: calc($height + $border + $border);
  left: $left;
  top: $top;
  z-index: $z;
}

@mixin blue-btn {
  border: none;
  cursor: pointer;
  background-color: var(--blue);

  &:hover {
    background-color: var(--blueish);
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    border: none;
    background-color: var(--bright-blue);
  }

  &:disabled {
    color: rgb(0 0 0 / 40%);
    background-color: var(--lite-blue);
    cursor: default;
  }
}
