@import '../../style/mixin.scss';

.load-more {
  @include font-params(24px, 500, 29.05px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: 1252px;
  border-radius: 8px;
  padding: 10px 0 10px 0;
  user-select: none;
  border: 0;
  @include blue-btn();

  @media only screen and (max-width: 600px) {
    width: 95%;
  }
}